.skill-col img {
    height: 60px;
    opacity: .8;
}

.skill-col{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 5px 2px;
    margin: 3px;

}
.skill-col:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.skill-col img:hover  {
 
    opacity: 1;
} 