.custom-font-color{
    color: #FF014F;
}
.user-icon{
    background-color: #ad899479;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
   

}
.banner-col-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}
.resume-download-btn{
    background-color: #FF014F;
    font-size: 18px;
    margin-right: 15px;
}
.resume-download-btn:hover{
    background-color: #ffffff;
color: black;
border:1px solid #FF014F;
}
.user-photo{
    height: 380px;

    border-radius: 50%;

}
.banner-bg{
    background-image: url('https://image.freepik.com/free-vector/abstract-white-shapes-background_79603-1362.jpg');
    /* background-image: linear-gradient(to bottom, #b9b9b9, rgba(255, 224, 224, 0.73)),url('../../../Images/Frame\ 58.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  background-position: center;
  height: 550px;
  color:black;
}
@media only screen and (max-width:688px) {
    .banner-bg{
     
    height: 920px;
  }

  }